{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Reproduction du site NASA" />
  <meta name="author" content="Flavie Meffo" />

  <title>{% block title %}NASA Project{% endblock title %}</title>

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />

  <!-- Google Font : Public Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Inter:wght@400;600;700;800&family=Public+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />

  <!-- CSS -->
  {% block css %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  {% endblock css %}

  <!-- Javascript -->
  {% block javascript %}
    <script defer src="{% static 'js/project.js' %}"></script>
  {% endblock javascript %}

</head>

<body class="{% block bodyclass %}{% endblock bodyclass %}">

  {% block body %}

    <!-- NAVBAR -->
    {% include "pages/includes/navbar.html" %}

    <!-- MESSAGES DJANGO -->
    {% if messages %}
      <div class="container mx-auto px-4">
        {% for message in messages %}
          <div class="my-2 p-3 rounded
            {% if message.tags == 'error' %}bg-red-100 text-red-700
            {% elif message.tags == 'success' %}bg-green-100 text-green-700
            {% else %}bg-blue-100 text-blue-700{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- CONTENU PRINCIPAL -->
    {% block main %}
      {% block content %}
      {% endblock content %}
    {% endblock main %}

  {% endblock body %}

  <!-- MODALS -->
  {% block modal %}{% endblock modal %}

  <!-- JAVASCRIPT INLINE -->
  {% block inline_javascript %}{% endblock inline_javascript %}

</body>
</html>