{% load static %}

<section class="connecting-section"
         style="background-image: url('{% static 'images/connecting/connect.webp' %}');">

  <!-- Overlay gradient -->
  <div class="news-card-overlay"></div>

  <!-- Contenu -->
  <div class="connecting-content">

    <h2 class="connecting-title">Connecting the Red Dots</h2>

    <p class="connecting-subtitle">
      An "X-ray dot" found by NASA's Chandra X-ray Observatory may be key to
      understanding a new class of mysterious objects that astronomers have
      recently identified in the early universe.
    </p>

    <a href="#" class="connecting-link">
      NASA's Chandra X-ray Observatory
      <span class="hero-mission-arrow" 
            style="background-color: #d83933; border-color: #d83933;">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
      </span>
    </a>

  </div>

</section>