{% load static %}

<div class="news-dropdown hidden" id="news-dropdown">

  <!-- Titre -->
  <div class="news-dropdown-header">
    <h3 class="news-dropdown-title">News & Events</h3>
    <span class="hero-mission-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none"
           viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3" />
      </svg>
    </span>
  </div>

  <!-- Liens -->
  <nav class="news-dropdown-nav">
    <a href="#" class="news-dropdown-link">News Releases</a>
    <a href="#" class="news-dropdown-link">Recently Published</a>
    <a href="#" class="news-dropdown-link">Video Series on NASA+</a>
    <a href="#" class="news-dropdown-link">Podcasts & Audio</a>
    <a href="#" class="news-dropdown-link">Blogs</a>
    <a href="#" class="news-dropdown-link">Newsletters</a>
    <a href="#" class="news-dropdown-link">Social Media</a>
    <a href="#" class="news-dropdown-link">Media Resources</a>
    <a href="#" class="news-dropdown-link">Events</a>
    <a href="#" class="news-dropdown-link">Upcoming Launches & Landings</a>
    <a href="#" class="news-dropdown-link">Virtual Guest Program</a>
  </nav>

</div>