{% load static %}

<section class="newsletter-section"
         style="background-image: url('{% static 'images/freedom/univers.webp' %}');">

  <div class="newsletter-overlay"></div>

  <div class="newsletter-content">

    <h2 class="newsletter-title">
      Explore the Universe from your Inbox
    </h2>

    <p class="newsletter-subtitle">
      Stay up-to-date on the latest news from NASA–from Earth to the 
      Moon, the Solar System and beyond.
    </p>

    <p class="newsletter-privacy">
      We will never share your email address. 
      <a href="#" class="newsletter-privacy-link">Privacy Policy</a>
    </p>

    <a href="#" class="connecting-link" style="font-size: 1.2rem;">
      Sign Up
      <span class="hero-mission-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
      </span>
    </a>

  </div>

</section>